@charset "utf-8";
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
/* Common Style */
html,body{width:100%;min-width:320px;background-image:none;background-color:#fffff;}/*height:100%;*/
html, body, form, fieldset, input, h1, h2, h3, h4, h5, ul, ol, p, li, dl, dt, dd, div, span{margin:0px; padding:0px;}

* {font-family:'Nanum Gothic',dotum, Verdana, Arial, Helvetica, sans-serif;} /* 돋움, */

body{font-size:13px; color:#333333;} /*line-height:1.5em; */
input, select{font-size:12px; vertical-align:middle;}

caption, legend{display:none;}
fieldset{border:none;}

/* 점선 제거 추가 */
/* a{selector-dummy : expression(this.hideFocus=true);} */

a{text-decoration:none;}
a:link,
a:visited{color:#5A5A5A;}
a:hover,
a:active{color:#5A5A5A; text-decoration:underline;}

img{border:none;vertical-align:top;}
li img{vertical-align:top;}

ul, ul li{list-style:none;}

