@charset "utf-8";
@import url("default.css");

#wrap {width:100%;height:100%;padding:0px;margin:0px;}


#oza_box{
	background:#ffffff;
	width:100%;
	display:block;
	text-align:center;
	position:fixed;
	top:0px;
	border-bottom:1px solid #dddddd;
}

#oza_box #bg_card{
	margin:13px auto;
	position:relative;
	width:318px;
}

#oza_box #bg_after_card{
	margin:13px auto;
	position:relative;
	width:318px;
}


#oza_box #bg_after_card .card_id_num{
	position:absolute;
	right:10px;
	top:12px;
	font-size:19px;
	font-weight:bold;
	color:#111111;
}

#oza_box #bg_after_card .card_user_nm{
	position:absolute;
	right:10px;
	top:35px;
	font-size:18px;
	font-weight:bold;
	color:#111111;
}
#oza_box #bg_card .btn_join{
	position:absolute;
	left:84px;
	top:152px;
}

#oza_box #bg_card .btn_login{
	position:absolute;
	left:162px;
	top:152px;
}


#oza_box #loginBox{
	position:absolute;left:9px;top:8px;
	background-color:#f3f3f3;
	width:300px;display:none;
}
#oza_box .rowsbx{
	border-radius:5px;
	background-color:#ffffff;
	width:auto;
	position:relative;
	height:38px;
	line-height:38px;
	padding:0px;
	margin-bottom:2px;
	vertical-align:middle;
}

#oza_box .table_basic{
	width:100%;
	border-collapse: collapse;
}

#oza_box .table_basic .row_title{
	font-size:16px;
	font-weight:bold;
	width:75px;
	height:35px;
	text-align:right;
}

#oza_box .table_basic .row_cont{
	padding:0px 5px;
}

#oza_box .btn_login_go{
	position:absolute;
	left:75px;
	top:144px;
}
#oza_box .btn_can{
	position:absolute;
	left:153px;
	top:144px;
}
#oza_join_box{
	height:100%;
	padding:6px;
}


#oza_join_box .rowsbx{
	border-radius:5px;
	background-color:#ffffff;
	width:auto;
	position:relative;
	height:50px;
	line-height:50px;
	padding:0px;
	margin-bottom:5px;
}

#oza_join_box .rowsbx_textarea{
	border-radius:5px;
	background-color:#ffffff;
	width:auto;
	position:relative;
	height:265px;
	line-height:50px;
	padding:0px;
	margin-bottom:5px;
}

#oza_join_box .table_basic{
	width:100%;
	border-collapse: collapse;

}
#oza_join_box .table_basic .row_title{
	font-size:16px;
	font-weight:bold;
	width:130px;
	height:37px;
	text-align:right;
}

#oza_join_box .table_basic .row_cont{
	padding:0px 5px;
}

.inp_text{
	outline-style:none;
	border-radius:5px;
	background-color:#f3f3f3;
	border:0px;
	height:32px;
	line-height:32px;
	padding:0px 10px;
	width:90%;
	color:#333333;
}

.inp_text_area{
	outline-style:none;
	border-radius:5px;
	background-color:#f3f3f3;
	border:0px;
	height:260px;
	line-height:17px;
	padding:0px 10px;
	width:90%;
	color:#333333;
	font-size:11px;
}

.inp_sel{
	outline-style:none;
	border-radius:5px;
	background-color:#f3f3f3;
	border:0px;
	height:32px;
	line-height:32px;
	padding:0px 10px;
	width:100%;
	color:#333333;
}