@charset "utf-8";

/*----------------------------
共通ボックス
----------------------------*/
.item_box01 {
	margin:10px 0 0;
}
.item_box01 p {
	font-size:75%;
}
.input_btn01 {
	padding:30px 0;
	text-align:center;
}
.input_btn01 input {
	padding:5px;
}
.input_btn02 {
	padding:30px 0;
	text-align:center;
}
.input_btn02 input {
	padding:5px;
}

/*----------------------------
ログインページ
----------------------------*/
.login_box_outer {
	margin:10px auto 0;
	padding:20px 0;
	max-width:300px;
	border:solid 1px #ccc;
	
	/*角丸*/
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	
	/*グラデーション*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.88, #e4e3e2), color-stop(0.00, #fafafa));
	background: -webkit-linear-gradient(top, #fafafa 0%, #e4e3e2 88%);
	background: -moz-linear-gradient(top, #fafafa 0%, #e4e3e2 88%);
	background: -o-linear-gradient(top, #fafafa 0%, #e4e3e2 88%);
	background: -ms-linear-gradient(top, #fafafa 0%, #e4e3e2 88%);
	background: linear-gradient(to bottom, #fafafa 0%, #e4e3e2 88%);
	
	/*ボックスシャドウ*/
	-webkit-box-shadow:  0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
	box-shadow:  0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
}
.login_box01 {
	margin:0 auto;
	width:90%;
}
.login_box01 p {
	font-size:75%;
	font-family:Arial, sans-serif;
}
.login_box01 .id01 {
}
.login_box01 .pw01 {
	margin:20px 0 0;
}
.login_box01 input[type="text"], input[type="password"], input[type="number"] {
	margin:5px 0 0;
	padding:10px;
	width:90%;
	border:solid 1px #ccc;
	font-family:Arial, sans-serif;
	
	/*角丸*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	/*ボックスインセットシャドウ*/
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}
.login_box01 input:focus {
    border:solid 1px #369;
}
.login_box02 {
	margin:25px auto 0;
	width:300px;
	text-align:center;
	font-size:75%;
}
.login_box02 input[type="submit"] {
	margin:0;
	padding:6px 7px;
	border:solid 1px #ccc;
	text-transform:uppercase;
	cursor:pointer;
	font-family:Arial, sans-serif;

	/*角丸*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	/*グラデーション*/
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
	
	/*テキストシャドウ*/
	text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.6);
}

.login_box03 {
	margin:25px auto 0;
	width:300px;
	text-align:center;
}
.login_box03 input[type="submit"] {
	margin:0;
	padding:6px 7px;
	border:solid 1px #ccc;
	text-transform:uppercase;
	cursor:pointer;
	font-family:Arial, sans-serif;

	/*角丸*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	/*グラデーション*/
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
	
	/*テキストシャドウ*/
	text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.6);
}

/*----------------------------
トップページ
----------------------------*/
.top_box01 {
	margin:10px 0 0;
}
.top_box01 .title01 {
	font-size:100%;
	font-weight:bold;
}
.top_box01 dl {
	margin:5px 0 30px;
	padding:10px;
	border:1px #cccccc dotted;
}
.top_box01 dl dt {
	padding:7px 10px 6px 33px;
	background:url(/system/common/img/arrow_icon01.gif) no-repeat 12px 9px;
	font-size:85%;
	font-weight:bold;
	color:#01a1bb;
	text-decoration:underline;
}
.top_box01 dl dd {
	padding:7px 10px 6px 33px;
	font-size:75%;
}

/*----------------------------
テーブルスタイル
----------------------------*/
table.table01 {
	margin:10px 0 0;
	width:100%;
	border-collapse:collapse;
	font-size:75%;
}
table.table01 caption {
	padding:8px;
	border-top:1px #D5D5D5 solid;
	border-right:1px #D5D5D5 solid;
	border-left:1px #D5D5D5 solid;
	background:#0791a8;
	color:#FFFFFF;
	text-align:left;
}
table.table01 th {
	padding:8px;
	border:1px #D5D5D5 solid;
	background:#00b1ce;
	color:#FFFFFF;
	width:20%;
	text-align:left;
}
table.table01 td {
	padding:8px;
	border:1px #D5D5D5 solid;
	background:#fff;
	text-align:left;
}

table.table02 {
	margin:10px 0 0;
	width:100%;
	border-collapse:collapse;
	font-size:75%;
}
table.table02 caption {
	padding:8px;
	border-top:1px #D5D5D5 solid;
	border-right:1px #D5D5D5 solid;
	border-left:1px #D5D5D5 solid;
	background:#0791a8;
	color:#FFFFFF;
	text-align:left;
}
table.table02 th {
	padding:8px;
	border:1px #D5D5D5 solid;
	background:#00b1ce;
	color:#FFFFFF;
	text-align:left;
}
table.table02 td {
	padding:8px;
	border:1px #D5D5D5 solid;
	background:#fff;
	text-align:left;
}
table.table02 td.btn02 {
	text-align:center;
	width:13%;
}
table.table02 td.btn02 input {
	display:inline;
}

table.table03 {
	margin:10px 0 0;
	width:100%;
	border-collapse:collapse;
	font-size:75%;
	border:1px #D5D5D5 solid;
}
table.table03 caption {
	padding:8px;
	border-top:1px #D5D5D5 solid;
	border-right:1px #D5D5D5 solid;
	border-left:1px #D5D5D5 solid;
	background:#0791a8;
	color:#FFFFFF;
	text-align:left;
}
table.table03 th {
	padding:8px;
	border-bottom:1px #D5D5D5 solid;
	background:#00b1ce;
	color:#FFFFFF;
	text-align:left;
}
table.table03 td {
	padding:8px;
	border-bottom:1px #D5D5D5 solid;
	background:#fff;
	text-align:left;
}
table.table03 td.btn02 {
	text-align:center;
	width:13%;
}
table.table03 td.btn02 input {
	display:inline;
}

/*----------------------------
検索ボックス
----------------------------*/
.item_search_box01 {
	margin:10px 0 20px;
	padding:0 0 20px;
	border-bottom:1px #cccccc dotted;
}
.item_search_box01 p {
	font-size:75%;
}

/*----------------------------
印刷ページ
----------------------------*/
.print_box01 {
}
.print_box01 p {
	font-size:75%;
}


