@charset "utf-8";
/* reset */
* {
	margin:0;
	padding:0;
	font-style:normal;
}
ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,img {
	margin:0;
	padding:0;
	border:none;
	list-style:none;
	text-decoration:none;
}

/* base */
html {
	height:100%;
}
body {
	margin:0;
	line-height:1.5;
	height:100%;
}
a:link {
	text-decoration:underline;
	color:#01a1bb;
}
a:visited {
	text-decoration:underline;
	color:#01a1bb;
}
a:hover {
	text-decoration:none;
	color:#01a1bb;
}
a:hover img {
	opacity:0.7;
}

/* text style */
.px10 { font-size:60%; color:#000000; }
.px11 { font-size:70%; color:#000000; }
.px12 { font-size:75%; color:#000000; }
.px13 { font-size:80%; color:#000000; }
.px14 { font-size:85%; color:#000000; }
.px15 { font-size:90%; color:#000000; }
.px16 { font-size:100%; color:#000000; }
.px18 { font-size:125%; color:#000000; }
.px19 { font-size:140%; color:#000000; }
.px20 { font-size:150%; color:#000000; }
.px22 { font-size:160%; color:#000000; }
.px24 { font-size:170%; color:#000000; }
.px26 { font-size:180%; color:#000000; }
.px34 { font-size:220%; color:#000000; }
.black { color:#000000; }
.black a:link { color:#000000; }
.black a:visited { color:#000000; }
.black a:hover { color:#000000; }
.red { color:#e10d00; }
.red a:link { color:#e10d00; }
.red a:visited { color:#e10d00; }
.red a:hover { color:#e10d00; }
.blue { color:#01a1bb; }
.blue a:link { color:#01a1bb; }
.blue a:visited { color:#01a1bb; }
.blue a:hover { color:#01a1bb; }
.white { color:#ffffff; }
.white a:link { color:#ffffff; }
.white a:visited { color:#ffffff; }
.white a:hover { color:#ffffff; }
.bold { font-weight:bold; }
.ta_c { text-align:center !important; }
.ta_l { text-align:left !important; }
.ta_r { text-align:right !important; }



/* layout */
#container {
	margin:0 auto;
	width:100%;
	background:#f5f5f5;
	position:relative;
	height:auto !important; /*IE6対策*/
	height:100%; /*IE6対策*/
	min-height:100%;
}
#header {
	margin:0 auto;
	width:100%;
	background:url(/app_management/common/img/head_bk01.png) repeat-x left top;
	min-height:106px;
}
#header .header_left {
	padding:39px 0 0 20px;
	float:left;
}
#header .header_left h1 {
	color:#fff;
	line-height:100%;
	font-size:180%;
	letter-spacing:1px;
}
#header .header_right {
	padding:10px 0 0;
	float:right;
	width:30%;
}
#header .header_right dl {
	padding:0 5px;
	background:#000000;
	float:right;
	font-size:75%;
	color:#fff;
}
#header .header_right dl dt {
	padding:4px 8px;
	float:left;
}
#header .header_right dl dd {
	padding:4px 8px;
	float:left;
}
#header .header_right dl dd a:link {
	text-decoration:underline;
	color:#fff;
}
#header .header_right dl dd a:visited {
	text-decoration:underline;
	color:#fff;
}
#header .header_right dl dd a:hover {
	text-decoration:none;
	color:#fff;
}

#searchnav {
	margin:0 auto;
	padding:0;
	width:100%;
	background:url(/app_management/common/img/head_bk02.gif) repeat-x left top #555a5b;
	min-height:40px;
}
#searchnav p {
	padding:11px 0 0 20px;
	letter-spacing:2px;
}


#main_contents {
	margin:0 auto;
	padding:20px 0;
	width:95%;
}

.pub_title01 {
	width:100%;
	background:url(/app_management/common/img/title_bk02.gif) repeat-x left top;
}
.pub_title01 .pub_title01_inner {
	background:url(/app_management/common/img/title_bk03.gif) no-repeat right top;
}
.pub_title01 p {
	padding:0 0 0 30px;
	background:url(/app_management/common/img/title_bk01.gif) no-repeat left top;
	font-size:16px !important;
	font-weight:bold !important;
	color:#000;
	line-height:230%;
	letter-spacing:2px;
}

.mainnav {
	margin:10px -10px 0 0;
}
.mainnav .nav_box01 {
	vmargin:0 10px 25px 0;
	padding:0 0 12px;
	float:left;
	width:210px;
	background:url(/app_management/common/img/main_nav_bk02.gif) no-repeat left bottom;
	margin: 0 10px 25px 0;
}
.mainnav .nav_box01 table {
	width:210px;
	height:76px;
	background:url(/app_management/common/img/main_nav_bk01.gif) no-repeat left top;
}
.mainnav .nav_box01 th {
	padding:10px 0 0 8px;
	width:58px;
	vertical-align:top;
}
.mainnav .nav_box01 th img {
	margin:0;
	padding:0;
	display:block;
}
.mainnav .nav_box01 td {
	padding:0px 10px 0;
	vertical-align:middle;
	font-size:120%;
	color:#fff;
	width:124px;
	line-height:140%;
	letter-spacing:2px;
	font-weight:bold;
}
.mainnav .nav_box01 dl {
	/*border-top:1px #3e4647 solid;*/
	border-left:1px #3e4647 solid;
	border-right:1px #3e4647 solid;
	background:#fff;
}
.mainnav .nav_box01 dl dt {
	padding:7px 10px 6px 33px;
	background:url(/app_management/common/img/arrow_icon01.gif) no-repeat 12px 9px;
	border-bottom:1px #3e4647 solid;
	font-size:85%;
	font-weight:bold;
	color:#01a1bb;
	/*text-decoration:underline;*/
}
.mainnav .nav_box01 dl dd {
	border-bottom:1px #3e4647 solid;
	background:#fff;
}
.mainnav .nav_box01 dl dd ul {
}
.mainnav .nav_box01 dl dd ul li {
	padding:7px 10px 6px 53px;
	background:url(/app_management/common/img/arrow_icon01.gif) no-repeat 32px 9px #e6ffff;
	border-bottom:1px #3e4647 solid;
	font-size:85%;
	font-weight:bold;
}

#footer {
	margin:30px 0 0;
	width:100%;	
	background:#2b2f30;
	
	position:absolute;
	bottom:0;

}
.copyright {
	padding:5px 0px;
	font-size:90%;
	color:#fff;
	text-align:center;
}



#sec_cont_outer {
	margin:0 auto;
	padding:20px 0;
	width:95%;
	padding-bottom:62px; /*フッターの高さと同じ*/
}
#sidenav {
	padding:0;
	float:left;
	width:210px;
}
#sec_maincontents {
	font-size: 12px;
	margin:0 0 0 230px;
	padding:10px 0 0;
}

/*ポップアップコンテナスタイル*/
#popup_container01 {
	margin:0 auto;
	padding:10px;
	width:680px;
	background:#f5f5f5;
	position:relative;
	height:auto !important; /*IE6対策*/
	height:100%; /*IE6対策*/
	min-height:100%;
}


/* margin style */
.mar-t1 { margin-top:1px }
.mar-t2 { margin-top:2px }
.mar-t3 { margin-top:3px }
.mar-t4 { margin-top:4px }
.mar-t5 { margin-top:5px }
.mar-t6 { margin-top:6px }
.mar-t7 { margin-top:7px }
.mar-t8 { margin-top:8px }
.mar-t9 { margin-top:9px }
.mar-t10 { margin-top:10px }
.mar-t11 { margin-top:11px }
.mar-t12 { margin-top:12px }
.mar-t13 { margin-top:13px }
.mar-t14 { margin-top:14px }
.mar-t15 { margin-top:15px }
.mar-t16 { margin-top:16px }
.mar-t17 { margin-top:17px }
.mar-t18 { margin-top:18px }
.mar-t19 { margin-top:19px }
.mar-t20 { margin-top:20px }
.mar-t21 { margin-top:21px }
.mar-t22 { margin-top:22px }
.mar-t23 { margin-top:23px }
.mar-t24 { margin-top:24px }
.mar-t25 { margin-top:25px }
.mar-t26 { margin-top:26px }
.mar-t27 { margin-top:27px }
.mar-t28 { margin-top:28px }
.mar-t29 { margin-top:29px }
.mar-t30 { margin-top:30px }
.mar-t31 { margin-top:31px }
.mar-t32 { margin-top:32px }
.mar-t33 { margin-top:33px }
.mar-t34 { margin-top:34px }
.mar-t35 { margin-top:35px }
.mar-t36 { margin-top:36px }
.mar-t37 { margin-top:37px }
.mar-t38 { margin-top:38px }
.mar-t39 { margin-top:39px }
.mar-t40 { margin-top:40px }
.mar-t41 { margin-top:41px }
.mar-t42 { margin-top:42px }
.mar-t43 { margin-top:43px }
.mar-t44 { margin-top:44px }
.mar-t45 { margin-top:45px }
.mar-t46 { margin-top:46px }
.mar-t47 { margin-top:47px }
.mar-t48 { margin-top:48px }
.mar-t49 { margin-top:49px }
.mar-t50 { margin-top:50px }
.mar-t51 { margin-top:51px }
.mar-t52 { margin-top:52px }
.mar-t53 { margin-top:53px }
.mar-t54 { margin-top:54px }
.mar-t55 { margin-top:55px }
.mar-t56 { margin-top:56px }
.mar-t57 { margin-top:57px }
.mar-t58 { margin-top:58px }
.mar-t59 { margin-top:59px }
.mar-t60 { margin-top:60px }
.mar-t61 { margin-top:61px }
.mar-t62 { margin-top:62px }
.mar-t63 { margin-top:63px }
.mar-t64 { margin-top:64px }
.mar-t65 { margin-top:65px }
.mar-t66 { margin-top:66px }
.mar-t67 { margin-top:67px }
.mar-t68 { margin-top:68px }
.mar-t69 { margin-top:69px }
.mar-t70 { margin-top:70px }
.mar-t71 { margin-top:71px }
.mar-t72 { margin-top:72px }
.mar-t73 { margin-top:73px }
.mar-t74 { margin-top:74px }
.mar-t75 { margin-top:75px }
.mar-t76 { margin-top:76px }
.mar-t77 { margin-top:77px }
.mar-t78 { margin-top:78px }
.mar-t79 { margin-top:79px }
.mar-t80 { margin-top:80px }
.mar-t81 { margin-top:81px }
.mar-t82 { margin-top:82px }
.mar-t83 { margin-top:83px }
.mar-t84 { margin-top:84px }
.mar-t85 { margin-top:85px }
.mar-t86 { margin-top:86px }
.mar-t87 { margin-top:87px }
.mar-t88 { margin-top:88px }
.mar-t89 { margin-top:89px }
.mar-t90 { margin-top:90px }
.mar-t91 { margin-top:91px }
.mar-t92 { margin-top:92px }
.mar-t93 { margin-top:93px }
.mar-t94 { margin-top:94px }
.mar-t95 { margin-top:95px }
.mar-t96 { margin-top:96px }
.mar-t97 { margin-top:97px }
.mar-t98 { margin-top:98px }
.mar-t99 { margin-top:99px }
.mar-t100 { margin-top:100px }

.mar-r0 { margin-right:0 !important}
.mar-b0 { margin-bottom:0 !important}

/* padding style */
.pad-t1 { padding-top:1px }
.pad-t2 { padding-top:2px }
.pad-t3 { padding-top:3px }
.pad-t4 { padding-top:4px }
.pad-t5 { padding-top:5px }
.pad-t6 { padding-top:6px }
.pad-t7 { padding-top:7px }
.pad-t8 { padding-top:8px }
.pad-t9 { padding-top:9px }
.pad-t10 { padding-top:10px }
.pad-t11 { padding-top:11px }
.pad-t12 { padding-top:12px }
.pad-t13 { padding-top:13px }
.pad-t14 { padding-top:14px }
.pad-t15 { padding-top:15px }
.pad-t16 { padding-top:16px }
.pad-t17 { padding-top:17px }
.pad-t18 { padding-top:18px }
.pad-t19 { padding-top:19px }
.pad-t20 { padding-top:20px }
.pad-t21 { padding-top:21px }
.pad-t22 { padding-top:22px }
.pad-t23 { padding-top:23px }
.pad-t24 { padding-top:24px }
.pad-t25 { padding-top:25px }
.pad-t26 { padding-top:26px }
.pad-t27 { padding-top:27px }
.pad-t28 { padding-top:28px }
.pad-t29 { padding-top:29px }
.pad-t30 { padding-top:30px }
.pad-t31 { padding-top:31px }
.pad-t32 { padding-top:32px }
.pad-t33 { padding-top:33px }
.pad-t34 { padding-top:34px }
.pad-t35 { padding-top:35px }
.pad-t36 { padding-top:36px }
.pad-t37 { padding-top:37px }
.pad-t38 { padding-top:38px }
.pad-t39 { padding-top:39px }
.pad-t40 { padding-top:40px }
.pad-t41 { padding-top:41px }
.pad-t42 { padding-top:42px }
.pad-t43 { padding-top:43px }
.pad-t44 { padding-top:44px }
.pad-t45 { padding-top:45px }
.pad-t46 { padding-top:46px }
.pad-t47 { padding-top:47px }
.pad-t48 { padding-top:48px }
.pad-t49 { padding-top:49px }
.pad-t50 { padding-top:50px }
.pad-t51 { padding-top:51px }
.pad-t52 { padding-top:52px }
.pad-t53 { padding-top:53px }
.pad-t54 { padding-top:54px }
.pad-t55 { padding-top:55px }
.pad-t56 { padding-top:56px }
.pad-t57 { padding-top:57px }
.pad-t58 { padding-top:58px }
.pad-t59 { padding-top:59px }
.pad-t60 { padding-top:60px }
.pad-t61 { padding-top:61px }
.pad-t62 { padding-top:62px }
.pad-t63 { padding-top:63px }
.pad-t64 { padding-top:64px }
.pad-t65 { padding-top:65px }
.pad-t66 { padding-top:66px }
.pad-t67 { padding-top:67px }
.pad-t68 { padding-top:68px }
.pad-t69 { padding-top:69px }
.pad-t70 { padding-top:70px }
.pad-t71 { padding-top:71px }
.pad-t72 { padding-top:72px }
.pad-t73 { padding-top:73px }
.pad-t74 { padding-top:74px }
.pad-t75 { padding-top:75px }
.pad-t76 { padding-top:76px }
.pad-t77 { padding-top:77px }
.pad-t78 { padding-top:78px }
.pad-t79 { padding-top:79px }
.pad-t80 { padding-top:80px }

.pad-r16 { padding-right:16px; }
.pad-r17 { padding-right:17px; }
.pad-r18 { padding-right:18px; }
.pad-r26 { padding-right:26px; }

.pad-b5 { padding-bottom:5px; }


/* Dreamweaver */
/*.clearfix {overflow:hidden;}*/

/* clearfix */
.clearfix:after {content:".";display:block;clear:both;height:0;visibility:hidden;}
.clearfix {display:inline-block;}

/* Mac IE5 start \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
/* Mac IE5 end */


/* max-width: 700px */
@media all and (min-width: 0) and (max-width: 768px)  {
	
#header {
	background:url(/app_management/common/img/head_bk01.png) repeat-x left top;
	min-height:50px;
}

#header .header_left {
	padding:10px 0 0 10px;
}

#header .header_left h1 {
	font-size:120%;
}

#header .header_right {
	width:auto;
}
.copyright {
	font-size:70%;
}


}