@charset "utf-8";

	/* form regist */
	.common_table {
		border-collapse: collapse;
		width: 100%;
	}
	.common_table th, .common_table td {
		border: 2px solid #fff;
		vertical-align: middle;
	}
	.common_table th {
		font-weight:900;
		font-size:12px;
		color:#FFFFFF;
		width:200px;
		line-height:20px;
		
		padding: 15px 10px;
	}
	.common_table td {
		padding: 15px;
		background: #f2f0ea;
	}
	.common_table td p {
		color: #979195;
		line-height: 2em;
	}
	.common_table td input, textarea {
		width: 100%;
		max-width: 600px;
		min-width: 300px;
		border-radius: 3px;
	}
	
	.common_table td input[type="checkbox"], td input[type="radio"] {
		width: inherit;
		min-width: inherit;
		margin-left: 15px;
	}
	
	.common_table td input[type="button"] {
		max-width: 150px;
		min-width: 200px;
		height:30px
	}
	
	

	.common_table_button {
		border-collapse: collapse;
		width: 100%;
		text-align:center;
		vertical-align:middle;
	}
	
	.common_table_button td {
		padding:10px;
	}
	
	.common_table_button input {
		width:150px;
		height:30px
	}
	/* //form regist */

	
	.input_table th {
		background:#02bad5;
	}
	.input_table_confirm {
		background-color:#B19F92;
	}
	
	.search_table th {
		background:#54AF41;
	}
	.search_table_confirm {
		background-color:#6F6;
	}
	
	.td_img {
		width:100%;
		max-width:600px;
	}
}

/* max-width: 700px */
@media all and (min-width: 0) and (max-width: 768px)  {
	#sec_maincontents {
		margin: 0;
	}
	
	.common_table {
		margin: 5px 0;
	}
	.common_table th, .common_table td {
		display: block;
	}
	.common_table th {
		margin-bottom: 5px;
		padding: 7px 10px;
		width: 95%;
	}
	.common_table td {
		margin-bottom: 10px;
		padding: 0 5px;
		background: none;
	}
	.common_table td input, textarea {
		max-width: 500px;
		min-width: 150px;
	}
	.common_table td input[type="radio"] {
		min-width: 30px;;
	}

}