/***********************************************/
/*基本設定	　　    　　　　                   */
/***********************************************/

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	/*font-size: 12px;*/
	background-color: #f5f5f5;}

body,td,th {
	/*font-size: 12px;*/
	color: #333333;}
	
.pic_img img {
    border: 0 none;
    margin: 0;
    min-width: 30px;
    padding: 0;
    vertical-align: text-bottom;
    width: 80px;
}

a{
	color:#637c07 ;}

a:hover{
	color:#00e4ff ;}
	
.c-both{
	clear:both ;}

#container{
	width:100%;
	margin:0px;}

.text10 {
	font-size:10px;}

.text_white {
	color:#ffffff;
	font-weight:bold;}

.text_red {
	color:#990000;}
	
.text {
	line-height:18px;
	font-size:12px;}

.text_title {
	color:#627b07;
	font-weight:bold;
	font-size: 14px;}
	
#main_left{
	width:172px;
	float:left;
	text-align:left;}

#main_right{
	width:658px;
	float:right;
	text-align:left;
	clear:both ;}
	
.table_title01	{
	background:#f6eed9;
	border:0px;
	width:100%;
	cellpadding="10";
	}

.table_title01 td	{
	padding:10px;
	background-color:#5a5a5a;
	font-size:14px;
	font-weight:900;
	color:#ffffff;
	}

.table_title02	{
	border:0px;
	width:100%;
	text-align:center;
	}
	

/*予約状況一覧*/

.table02	{
	background:#d5d5d5;
	border:0px;
	width:100%;
	font-size:12px;
	}

.table02 th	{
	padding:3px;
	color:#333333;
	background:url("/app_management/common/img/background-th.gif") #edf0f2 top repeat-x;
	}

.table02 td	{
	background:#ffffff;
	padding:3px;
	text-align:center;
	width:100px
	}
.table02_title01{
	padding:3px;
	color:#333333;
	background:#edf0f2;
	}
/*予約状況一覧*/

/*予約状況詳細*/

.table03	{
	background:#d5d5d5;
	border:0px;
	width:100%;
	font-size:12px;
	}

.table03 th	{
	padding:3px;
	color:#333333;
	background:url("/app_management/common/img/background-th.gif") #edf0f2 top repeat-x;
	}

.table03 td	{
	text-align:left;
	background:#ffffff;
	padding:3px;
	}
#t03t01	{
	background:#ffffff;
	}
#t03t02  	{
	background:#ffeda6;
	}
	
#t03t03	{
		background:#556a37;
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	}

.table03 td		{
	font-size:12px;
}

.table03_td01	{
	background:#5a5a5a;
	font-size:12px;
	color:#ffffff;
}

.table03_td02	{
	background:#5a5a5a;
	font-size:12px;
	color:#ffffff;
	width:15px;
}
.table03_td02_2	{
	background:#556a37;
	font-size:12px;
	color:#ffffff;
	width:15px;
}

.table03_td03	{
	background:#5a5a5a;
	font-size:12px;
	color:#ffffff;
	width:30px;
}

.table03_td04	{
	background:#556a37;
	font-size:12px;
	color:#ffffff;
}

.table04	{
	background:#f6eed9;
	border:0px;
	width:720px;
	}

.table04 td	{
	background:#e7e2d8;
	padding:5px;
	line-height:30px;
	}

.table04 th	{
	background:#1b4566;
	width:200px;
	color:#ffffff;
	padding:5px;
	line-height:24px;
	}

.table05	{
	background:#f7f7f7;
	border:0px;
	width:100%;
	}

.table05 td	{
	background:#f7f7f7;
	color:#333333;
	font-size:12px;
	font-weight:bold;
	border-bottom:dotted #CCCCCC 1px;
line-height:28px;
	}

.table05 th{
	padding:5px;
	background:#f7f7f7;
	color:#333333;
	width:170px;
	text-align:left;
	font-size:12px;
	border-bottom:dotted #CCCCCC 1px;
line-height:28px;
	}
	
#table05_01	{
	background:#20a584;
	text-align:center;
	border-bottom:none;
	}
	
#table05_02	{
	background:#26875f;
	text-align:center;
	border-bottom:dotted #CCCCCC 1px;
	border-left:dotted #CCCCCC 1px;
	}

#table05_03	{
	background:#f7f7f7;
	width:200px;
	}

.table06	{background:#d5d5d5;
	padding:5px;
	line-height:12px;
}

.table06 td	{line-height:12px;
	padding:3px;}

.table07	{
	background:#d5d5d5;
	border:0px;
	width:350px;
	}

.table07 td	{
	background:#f7f7f7;
	padding:10px;
	}

.table07 th{
	background:#497800;
	color:#ffffff;
	padding:10px;
	width:100px;
	text-align:left;
	}

#table07_1	{
	background:#6baf00;
	font-weight:900;
	font-size:12px;
	color:#FFFFFF;
	width:80px;
	line-height:20px;
}

.table08	{
	background:#d5d5d5;
	border:0px;
	width:100%;
	}

.table08 td	{
	background:#f7f7f7;
	padding:0px;
	}
/*予約状況詳細*/



.mbi_if26	{background-color:#f2eeea; padding:5px; font-size:10px; color:#6c6a64; line-height:16px; text-align:center;}
.mbi_if27	{background-color:#ffb9b9; padding:5px; font-size:10px; color:#6c6a64; line-height:16px; text-align:center;}
.mbi_if28	{background-color:#ffffff; padding:3px 5px 5px 5px; font-size:12px; color:#3f3f3f; line-height:14px; width:45px; height:50px; text-align:center; vertical-align:text-top;}
.mbi_if28_2	{background-color:#ffebed; padding:3px 5px 5px 5px; font-size:12px; color:#3f3f3f; line-height:14px; width:45px; height:50px; text-align:center; vertical-align:text-top;}

#text_l	{text-align:left; line-height:22px;}






/* text style */
.px10 { font-size:60%; color:#6d6d6d; }
.px11 { font-size:70%; color:#6d6d6d; }
.px12 { font-size:75%; color:#6d6d6d; }
.px13 { font-size:80%; color:#6d6d6d; }
.px14 { font-size:85%; color:#6d6d6d; }
.px15 { font-size:90%; color:#6d6d6d; }
.px16 { font-size:100%; color:#6d6d6d; }
.px18 { font-size:125%; color:#6d6d6d; }
.px19 { font-size:140%; color:#6d6d6d; }
.px20 { font-size:150%; color:#6d6d6d; }
.px22 { font-size:160%; color:#6d6d6d; }
.px24 { font-size:170%; color:#6d6d6d; }
.px26 { font-size:180%; color:#6d6d6d; }
.px34 { font-size:220%; color:#6d6d6d; }
.black { color:#6d6d6d; }
.black a:link { color:#6d6d6d; }
.black a:visited { color:#6d6d6d; }
.black a:hover { color:#6d6d6d; }
.red { color:#e10d00; }
.red a:link { color:#e10d00; }
.red a:visited { color:#e10d00; }
.red a:hover { color:#e10d00; }
.blue { color:#3787b0; }
.blue a:link { color:#3787b0; }
.blue a:visited { color:#3787b0; }
.blue a:hover { color:#3787b0; }
.white { color:#ffffff; }
.white a:link { color:#ffffff; }
.white a:visited { color:#ffffff; }
.white a:hover { color:#ffffff; }
.pink { color:#f0646e; }
.pink a:link { color:#f0646e; }
.pink a:visited { color:#f0646e; }
.pink a:hover { color:#f0646e; }
.green { color:#317200; }
.green a:link { color:#317200; }
.green a:visited { color:#317200; }
.green a:hover { color:#317200; }
.bold { font-weight:bold; }
.ta_c { text-align:center; }
.block { display:block; }


/*サイドナビのスクロール固定*/
.floatingHeader {
    position: fixed;
    top: 0;
    visibility: hidden;
}
/*サイドナビのスクロール固定*/

/* margin style */
.mar-t1 { margin-top:1px }
.mar-t2 { margin-top:2px }
.mar-t3 { margin-top:3px }
.mar-t4 { margin-top:4px }
.mar-t5 { margin-top:5px }
.mar-t6 { margin-top:6px }
.mar-t7 { margin-top:7px }
.mar-t8 { margin-top:8px }
.mar-t9 { margin-top:9px }
.mar-t10 { margin-top:10px }
.mar-t11 { margin-top:11px }
.mar-t12 { margin-top:12px }
.mar-t13 { margin-top:13px }
.mar-t14 { margin-top:14px }
.mar-t15 { margin-top:15px }
.mar-t16 { margin-top:16px }
.mar-t17 { margin-top:17px }
.mar-t18 { margin-top:18px }
.mar-t19 { margin-top:19px }
.mar-t20 { margin-top:20px }
.mar-t21 { margin-top:21px }
.mar-t22 { margin-top:22px }
.mar-t23 { margin-top:23px }
.mar-t24 { margin-top:24px }
.mar-t25 { margin-top:25px }
.mar-t26 { margin-top:26px }
.mar-t27 { margin-top:27px }
.mar-t28 { margin-top:28px }
.mar-t29 { margin-top:29px }
.mar-t30 { margin-top:30px }
.mar-t31 { margin-top:31px }
.mar-t32 { margin-top:32px }
.mar-t33 { margin-top:33px }
.mar-t34 { margin-top:34px }
.mar-t35 { margin-top:35px }
.mar-t36 { margin-top:36px }
.mar-t37 { margin-top:37px }
.mar-t38 { margin-top:38px }
.mar-t39 { margin-top:39px }
.mar-t40 { margin-top:40px }
.mar-t41 { margin-top:41px }
.mar-t42 { margin-top:42px }
.mar-t43 { margin-top:43px }
.mar-t44 { margin-top:44px }
.mar-t45 { margin-top:45px }
.mar-t46 { margin-top:46px }
.mar-t47 { margin-top:47px }
.mar-t48 { margin-top:48px }
.mar-t49 { margin-top:49px }
.mar-t50 { margin-top:50px }
.mar-t51 { margin-top:51px }
.mar-t52 { margin-top:52px }
.mar-t53 { margin-top:53px }
.mar-t54 { margin-top:54px }
.mar-t55 { margin-top:55px }
.mar-t56 { margin-top:56px }
.mar-t57 { margin-top:57px }
.mar-t58 { margin-top:58px }
.mar-t59 { margin-top:59px }
.mar-t60 { margin-top:60px }
.mar-t61 { margin-top:61px }
.mar-t62 { margin-top:62px }
.mar-t63 { margin-top:63px }
.mar-t64 { margin-top:64px }
.mar-t65 { margin-top:65px }
.mar-t66 { margin-top:66px }
.mar-t67 { margin-top:67px }
.mar-t68 { margin-top:68px }
.mar-t69 { margin-top:69px }
.mar-t70 { margin-top:70px }
.mar-t71 { margin-top:71px }
.mar-t72 { margin-top:72px }
.mar-t73 { margin-top:73px }
.mar-t74 { margin-top:74px }
.mar-t75 { margin-top:75px }
.mar-t76 { margin-top:76px }
.mar-t77 { margin-top:77px }
.mar-t78 { margin-top:78px }
.mar-t79 { margin-top:79px }
.mar-t80 { margin-top:80px }
.mar-t81 { margin-top:81px }
.mar-t82 { margin-top:82px }
.mar-t83 { margin-top:83px }
.mar-t84 { margin-top:84px }
.mar-t85 { margin-top:85px }
.mar-t86 { margin-top:86px }
.mar-t87 { margin-top:87px }
.mar-t88 { margin-top:88px }
.mar-t89 { margin-top:89px }
.mar-t90 { margin-top:90px }
.mar-t91 { margin-top:91px }
.mar-t92 { margin-top:92px }
.mar-t93 { margin-top:93px }
.mar-t94 { margin-top:94px }
.mar-t95 { margin-top:95px }
.mar-t96 { margin-top:96px }
.mar-t97 { margin-top:97px }
.mar-t98 { margin-top:98px }
.mar-t99 { margin-top:99px }
.mar-t100 { margin-top:100px }

.mar-r0 { margin-right:0 !important}
.mar-b0 { margin-bottom:0 !important}

/* padding style */
.pad-t1 { padding-top:1px }
.pad-t2 { padding-top:2px }
.pad-t3 { padding-top:3px }
.pad-t4 { padding-top:4px }
.pad-t5 { padding-top:5px }
.pad-t6 { padding-top:6px }
.pad-t7 { padding-top:7px }
.pad-t8 { padding-top:8px }
.pad-t9 { padding-top:9px }
.pad-t10 { padding-top:10px }
.pad-t11 { padding-top:11px }
.pad-t12 { padding-top:12px }
.pad-t13 { padding-top:13px }
.pad-t14 { padding-top:14px }
.pad-t15 { padding-top:15px }
.pad-t16 { padding-top:16px }
.pad-t17 { padding-top:17px }
.pad-t18 { padding-top:18px }
.pad-t19 { padding-top:19px }
.pad-t20 { padding-top:20px }
.pad-t21 { padding-top:21px }
.pad-t22 { padding-top:22px }
.pad-t23 { padding-top:23px }
.pad-t24 { padding-top:24px }
.pad-t25 { padding-top:25px }
.pad-t26 { padding-top:26px }
.pad-t27 { padding-top:27px }
.pad-t28 { padding-top:28px }
.pad-t29 { padding-top:29px }
.pad-t30 { padding-top:30px }
.pad-t31 { padding-top:31px }
.pad-t32 { padding-top:32px }
.pad-t33 { padding-top:33px }
.pad-t34 { padding-top:34px }
.pad-t35 { padding-top:35px }
.pad-t36 { padding-top:36px }
.pad-t37 { padding-top:37px }
.pad-t38 { padding-top:38px }
.pad-t39 { padding-top:39px }
.pad-t40 { padding-top:40px }
.pad-t41 { padding-top:41px }
.pad-t42 { padding-top:42px }
.pad-t43 { padding-top:43px }
.pad-t44 { padding-top:44px }
.pad-t45 { padding-top:45px }
.pad-t46 { padding-top:46px }
.pad-t47 { padding-top:47px }
.pad-t48 { padding-top:48px }
.pad-t49 { padding-top:49px }
.pad-t50 { padding-top:50px }
.pad-t51 { padding-top:51px }
.pad-t52 { padding-top:52px }
.pad-t53 { padding-top:53px }
.pad-t54 { padding-top:54px }
.pad-t55 { padding-top:55px }
.pad-t56 { padding-top:56px }
.pad-t57 { padding-top:57px }
.pad-t58 { padding-top:58px }
.pad-t59 { padding-top:59px }
.pad-t60 { padding-top:60px }
.pad-t61 { padding-top:61px }
.pad-t62 { padding-top:62px }
.pad-t63 { padding-top:63px }
.pad-t64 { padding-top:64px }
.pad-t65 { padding-top:65px }
.pad-t66 { padding-top:66px }
.pad-t67 { padding-top:67px }
.pad-t68 { padding-top:68px }
.pad-t69 { padding-top:69px }
.pad-t70 { padding-top:70px }
.pad-t71 { padding-top:71px }
.pad-t72 { padding-top:72px }
.pad-t73 { padding-top:73px }
.pad-t74 { padding-top:74px }
.pad-t75 { padding-top:75px }
.pad-t76 { padding-top:76px }
.pad-t77 { padding-top:77px }
.pad-t78 { padding-top:78px }
.pad-t79 { padding-top:79px }
.pad-t80 { padding-top:80px }

.pad-r16 { padding-right:16px; }
.pad-r17 { padding-right:17px; }
.pad-r18 { padding-right:18px; }
.pad-r26 { padding-right:26px; }

.pad-b5 { padding-bottom:5px; }

.pad-l0 { padding-left:0px; }
.pad-r0 { padding-right:0px; }


#form_regist
{
	border:2px dotted #90F;
	margin:0px;
}

#form_search 
{
	border:2px dotted green;
	margin-bottom: 20px;
}

#search_list 
{
	border:2px dotted #01a1bb;
}



.table_regist	{
	background:#d5d5d5;
	border:0px;
	width:100%;
	font-size:12px;
	}

.table_regist th	{
	padding:5px;
	background:#2094d3;
	color:#ffffff;
	text-align:center;
	}

.table_regist td	{
	background:#ffffff;
	padding:5px;
	}

.input_btn02 {
padding: 30px 0;
text-align: center;
}

.input_btn02 input {
padding: 5px;
}

select	{margin-right: 9px;}






.paging ul{
	text-align:center;
}
.paging li{
	display:inline;
	padding:5px;
	color:#333;
}
.paging li a{
	padding:5px;
	height:20px;
	background:url(/app_include/img/paging.gif) repeat-x left top;
	color:#333;
	font-size:15px;
}
.paging li a:hover, .paging li a.active{
	background:url(/app_include/img/paging_on.gif) repeat-x left top;
	color:#fff;
}

/* max-width: 700px */
@media all and (min-width: 0) and (max-width: 768px)  {

select {
    margin-right: 9px;
    width: 100%;
}
.pic_img img {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
    width: 30px;
}
.table02 td	{
	box-sizing: border-box
	background:#ffffff;
	padding:0px;
	text-align:center;
	}

.table02	{
	background:#d5d5d5;
	border:0px;
	width:100%;
	font-size: 0.8em;
	}
}


/* max-width: 320px */
@media all and (max-width: 400px)  {

	.table02 img {
		max-width : 250px;;
	}
}