@charset "utf-8";

.top_box01 {
	padding:0 0 20px;
}
.top_box01 p {
	padding:0 0 10px;
}

.top_box02 {
	margin:20px 0 0;
}
.top_box02_tab {
	margin:0;
	padding:0;
}
.top_box02_tab ul {
	margin:0 -4px 0 0;
	padding:0;
}
.top_box02_tab ul li {
	margin:0 4px 0 0;
	padding:3px 0 0;
	width:190px;
	line-height:163%;
	float:left;
	background:url(/app_management/top/img/top_tab02.gif) no-repeat left top;
	font-size:135%;
	color:#fff;
	letter-spacing:2px;
	text-align:center;
	font-weight:bold;
}
.top_box02_tab ul li.on {
	background:url(/app_management/top/img/top_tab01.gif) no-repeat left top;
}
.top_box02_tab ul li a:link {
	text-decoration:none;
	color:#fff;
}
.top_box02_tab ul li a:visited {
	text-decoration:none;
	color:#fff;
}
.top_box02_tab ul li a:hover {
	text-decoration:underline;
	color:#fff;
}

.top_box02_inner {
	border:1px #95a9b8 solid;
	background:#fff;
}
.top_box02_inner .table_box_outer {
}
.top_box02_inner .table_box_outer .table_box01 {
	margin:0 auto;
	width:350px;
	float:left;
}
.top_box02_inner .table_box_outer .table_box01 {
	margin:20px 0 0 40px;
}
/*.top_box02_inner .table_box_outer .table_box01,  x:-moz-any-link, x:default {
	min-height:430px;
}*/
.top_box02_inner .table_box_outer .table_box01 table {
	margin:0;
	padding:0;
	width:100%;
	border-collapse:collapse;
}
.top_box02_inner .table_box_outer .table_box01 table caption {
	font-size:85%;
	text-align:center;
	font-weight:bold;
}
.top_box02_inner .table_box_outer .table_box01 table th {
	padding:5px;
	border:1px #e8e8e8 solid;
	background:#f2eeea;
	color:#3f3f3f;
	font-size:60%;
	font-weight:normal;
	text-align:center;
}
.top_box02_inner .table_box_outer .table_box01 table th.we {
	background:#ffb9b9;
}
.top_box02_inner .table_box_outer .table_box01 table td {
	line-height:120%;
	padding:5px;
	font-size:85%;
	font-weight:bold;
	border:1px #e8e8e8 solid;
	text-align:center;
}
.top_box02_inner .table_box_outer .table_box01 table td.we {
	color:#ff6666;
	background:#ffebed;
}
.top_box02_inner .table_box_outer .table_box01 table td span {
	color:#3f3f3f;
	font-size:85%;
	font-weight:normal;
}

.top_box02_inner .paging {
	margin:0 auto;
	padding:30px 0 20px;
	width:97%;
}
.top_box02_inner .paging .paging_left {
	float:left;
}
.top_box02_inner .paging .paging_left .prev {
	padding:0 0 0 22px;
	text-align:left;
	background:url(/app_management/common/img/arrow_icon02.gif) no-repeat 0 1px;
	font-size:75%;
	font-weight:bold;
}
.top_box02_inner .paging .paging_right {
	float:right;
}
.top_box02_inner .paging .paging_right .next {
	padding:0 22px 0 0;
	text-align:right;
	background:url(/app_management/common/img/arrow_icon01.gif) no-repeat right 1px;
	font-size:75%;
	font-weight:bold;
}























